// Imports
@import '../../../vendor/sass-mq/mq';
@import '../../../vendor/frontend/app/assets/sass/variables/_standard.scss';
@import '../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import '../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_mixins';

.list{

}
.list-inline{
  li{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
.page-footer-view{
  padding-top: 2rem;
  margin-top: 0rem;
  padding-bottom: 1rem;
  //margin-bottom: 2rem;
  border-top: .1rem dashed #aaa;
  border-bottom: .1rem dashed #aaa;
}
// -----------------------------------------------------------
// -----------------------------------------------------------
// Output



@include mq($until: small) {
  .list-inline{
    li{
      display: block;
    }
  }
}
//
//@include mq($from: small, $until: large) {}
//
//@include mq($from: large) {}
//
//@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dppx) {}
